/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.dusk
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode/
tests/Browser/screenshots/
tests/Browser/console/
tests/Browser/source/
public/mix-manifest.json

public/js/*
!public/js/group_home
public/js/group_home/*
!public/js/group_home/facility_info
public/js/group_home/facility_info/*
# 除外対象から除外
!public/js/jquery-ui.min.js
!public/js/datepicker-ja.js

public/mix-manifest.json

public/css/*
!.gitkeep

_ide_helper*
